
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: ivory;
}

#container {
  max-height: 100%;
  max-width: 100%;
}


ol, ul {
  list-style: none;

}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#board {
  display: grid;
  grid-template-areas: "rowone"
                       "rowtwo"
                       "rowthree";
  width: 510px;
  height: 510px;
  border: 1px solid seagreen;
  background-color: lightblue;
}

.boxes {
  display: inline-block;
  border: 1px solid seagreen;
  text-align: center;
  font-size: 4.5vw;
  color: greenyellow;
  /* These need to be set in the loadBoard */
  /* line-height: 133.3px;
  width: 133.3px;
  height: 133.3px; */
}

.boxes:hover {
  background-color: seagreen;
  border: 2px solid yellowgreen;
}

#rowone, #rowtwo, #rowthree {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}

#rowone {
  grid-area: rowone;
  grid-template-areas: "boxone boxtwo boxthree";
}

#1 {
  grid-area: boxone;
}

#2 {
  grid-area: boxtwo;
}

#3 {
  grid-area: boxthree;
}

#rowtwo {
  grid-area: rowtwo;
  grid-template-areas: "boxfour boxfive boxsix";
}

#4 {
  grid-area: boxfour;
}

#5 {
  grid-area: boxfive;
}

#6 {
  grid-area: boxsix;
}

#rowthree {
  grid-area: rowthree;
  grid-template-areas: "boxseven boxeight boxnine";
}

#7 {
  grid-area: boxseven;
}

#8 {
  grid-area: boxeight;
}

#9 {
  grid-area: boxnine;
}

#player-headers {
display: grid;
grid-template-columns: 50% 50%;

}

.player-name-headers {
  display: inline;
  text-align: center;
  border: 1px solid black;
  background-color: seagreen;
  color: white;
  border-bottom: none;
}

#enter-your-players {
  text-align: center;
}

/* #p1-name-header {
  grid-area: 'x-player';
}

#p2-name-header {
  grid-area: 'o-player';
} */

.enter-players {
  display: grid;
  grid-template-columns: auto auto auto;
}

.input-width-adjusted {
  grid-template-columns: 100%;
}

.player-name-input {
  text-align: center;
  background-color: ivory;
  color: darkslategrey;
}



.player-name-input::placeholder {
  color: darkslategrey;
}


#new-game-button {
  background-color: seagreen;
  color: ivory;
}


#new-game-button:hover {
  background-color: yellowgreen;
  color: seagreen;
}

.player-name-tally {
  display: inline;
}

