
/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


#board {
  display: grid;
  grid-template-areas: "rowone"
                       "rowtwo"
                       "rowthree";
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

.boxes {
  display: inline-block;
  border: 1px solid black;
  text-align: center;
  /* These need to be set in the loadBoard */
  /* line-height: 133.3px;
  width: 133.3px;
  height: 133.3px; */
}

#rowone, #rowtwo, #rowthree {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
}

#rowone {
  grid-area: rowone;
  grid-template-areas: "boxone boxtwo boxthree";
}

#1 {
  grid-area: boxone;
  overflow: visible;
}

#2 {
  grid-area: boxtwo;
}

#3 {
  grid-area: boxthree;
}

#rowtwo {
  grid-area: rowtwo;
  grid-template-areas: "boxfour boxfive boxsix";
}

#4 {
  grid-area: boxfour;
}

#5 {
  grid-area: boxfive;
}

#6 {
  grid-area: boxsix;
}

#rowthree {
  grid-area: rowthree;
  grid-template-areas: "boxseven boxeight boxnine";
}

#7 {
  grid-area: boxseven;
}

#8 {
  grid-area: boxeight;
}

#9 {
  grid-area: boxnine;
}

#player-headers {
display: grid;
grid-template-areas: "x-player o-player"
}

.player-name-headers {
  display: inline;
  text-align: center;
  border: 2px solid black;
}

#enter-your-players {
  text-align: center;
}

#p1-name-header {
  grid-area: 'x-player';
}

#p2-name-header {
  grid-area: 'o-player';
}


#player-name-entry {
  margin-top: 20px;
}

#enter-players {
  display: grid;
  grid-template-areas: 'x-player-input' 'o-player-input' 'board-size-input';
  grid-template-columns: auto auto auto;

}

#p1 {
  grid-area: 'x-player-input';
}

#p2 {
  grid-area: 'o-player-input';
}

#board-size {
  grid-area: 'board-size-input';
}



.player-name-tally {
  display: inline;
}

/* .outerbox{
  color: red;
} */