.entry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50px, 10%)) ;
}

h4, p {
  margin: 0;
  padding: none;
  text-align: center;
}

.entry > p {
  border: 1px solid black;
}


