h4, p {
  margin: 0;
  padding: none;
  text-align: center;
}

.entry, .title-entry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 16.66%)) ;
  background-color: darkslategrey;
  color: white;
}

.entry:hover {
  background-color: lightslategray;
}

.item-entries:hover {
  background-color: ivory;
  color: black;
}

.entry > p {
  border: 1px solid black;
}

.title-entry > h4 {
  border: 1px solid black;
}

#submit-form {
  display: grid;
  grid-template-rows: 5% 95%;
}

/* Submit JSON Button */
#submit-json-button {
  display: block;
  background-color: darkslategrey;
  color: white;
}

#submit-json-button:hover {
  background-color: ivory;
  color: black;
}
/* Text Area */
#csv-text-area {
  background-color: darkslategrey;
  border: 2px solid darkslategrey;
  color: ivory;
}

#csv-text-area:hover {
  background-color: lightslategrey;
}



