html {
  background-color: gray;
}
html, body {
  height: 100%;
}

h4, p {
  margin: 0;
  padding: none;
  text-align: center;
}

.entry, .title-entry {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(auto, 16.66%)) ;
  background-color: darkslategrey;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

#layout {
  width: 50%;
}

.entry:hover {
  background-color: lightslategray;
}

.item-entries:hover {
  background-color: ivory;
  color: black;
}

.entry > p {
  border: 1px solid black;
}

.title-entry > h4 {
  border: 1px solid black;
}

#submit-form {
  display: grid;
  grid-template-rows: 5% 85% 5% 5%;
}

/* Submit JSON Button */
#submit-json-button {
  display: block;
  background-color: darkslategrey;
  color: white;
  cursor: pointer;
}

#submit-json-button:hover {
  background-color: ivory;
  color: black;
}
/* Text Area */
#csvTextArea {
  background-color: darkslategrey;
  border: 2px solid darkslategrey;
  color: ivory;
  flex-direction: column;
}

#csvTextArea:hover {
  background-color: lightslategrey;
}

#file-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

